li {
    list-style-type: none;
}

* {
    font-size: 64px;
}

body {
    --background-done: #777;
    --background: #333;
    --foreground: #eee;
    background: var(--background);
    color: var(--foreground);
}

.Todo-Item {
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
}
.Todo-Item > div {
    flex-grow: 1;
}

.Todo-Item.done {
    background: var(--background-done);
}
.App {
  height: 100%;
}

#root {
    height: 100vh;
}

.Todo-List {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Todo-Field {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.Todo-Field input {
    width: 100%;
}
